.header{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100vw;
}

.headline-in-settings{
    margin: 0 auto;

    @media (max-width: 480px) {
       font-size: 16px;
    }
}

.arrowback{
    width: 26px;
    height: 26px;

}

