.movie-details {
  padding: 50px;

  &__image {
    border-radius: 20px;
    object-fit: cover;

    aspect-ratio: 16 / 9;

    @media (max-width: 768px) {
      aspect-ratio: 9 / 16;
    }

    @media (max-width: 480px) {
      aspect-ratio: 3 / 4;
    }
  }
}
