.movie-details {
  padding: 80px;

  &__image {
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 16 / 9;

    @media (max-width: 768px) {
      aspect-ratio: 9 / 16;
    }

    @media (max-width: 480px) {
      aspect-ratio: 2 / 3;
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__overview {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__genre {
    background-color: #252932;
    padding: 6px;
    border-radius: 8px;
    white-space: nowrap;
    margin-right: 10px;
    color: #BABFC9;
    

  }

  &__runtime {
    background-color: #252932;
    padding: 6px;
    border-radius: 8px;
    white-space: nowrap;
    color: #BABFC9;
  }

  &__rating-divider{
    margin-left: 2px;
    margin-right: 10px;
  }

  &__rating-star{
    color: #FFA235;
    margin-right: 3px;
  }
}

.bookmark {
  width: 24px;
  height: 24px;
}
