.search {
  padding: 2rem;
  height: max-content;
  width: 100%;
  align-self: center;
  &__label {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: rgba(105, 109, 116, 0.3);
    height: 54px;


    &:focus {
      transition: border 0.15s ease-in-out;
      border: 1px solid #666;
      outline: none;
    }

  }
}
