@use "~/style/utils/fonts";

// Fonts and colors to be added
$black-bg: #1b1e25;
$blue-bg: #54a8e5;
$dark-blue-bg: #546ee5;
$red-bg: #e55454;
$star-color: #ffa235;

// Text color
$white-text:  #ffffff;
$gray-text: #6F7277;
$coming-soon-date-text: #AFAFAF;
$cinema-underline-text: #BABFC9;

$genre-box: #252932;

// fonts
$font-poppins: "Poppins", sans-serif;
