@use "~/style/utils/variables" as *;

// Simple reset style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

body {
  font-family: $font-poppins;
  background-color: $black-bg;
  color: $white-text
}

body, #root {
  min-height: 100vh;
  display: grid;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}